@define-color foreground #e0e0e0;
@define-color background #1d1f21;

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font Mono Bold;
  font-size: 14px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#battery,
#tray,
#cpu,
#backlight,
#network,
#clock,
#pulseaudio,
#custom-power-menu {
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-expand-icon {
  margin-right: 12px;
}

tooltip {
  padding: 2px;
}

